body {
  text-align: center;
}

.header {
  background-image: url(../images/banner.png), radial-gradient(#0b3a4f 0%, #000000 100%);
  width: auto;
  height: 25rem;
  border-bottom: 3px solid #33A8DB;
}
.header-container {
  padding-top: 5rem;
  margin: 0 auto;
  width: 25rem;
  height: 20rem;
  position: relative;
}

.logo-container {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 8rem;
  height: 8rem;
  background-color: rgba(0, 0, 0, 0.138);
  border: 1px solid rgba(0, 0, 0, 0.233);
  border-radius: 50%;
}

.header-logo {
  margin-top: 0.5rem;
  width: 7.75rem;
  height: 6.6875rem;
}

.content-container {
  top: 12rem;
  position: absolute;
}

.header-title {
  font-weight: 900;
  text-transform: uppercase;
  color: transparent;
  background-image: linear-gradient(#33A8DB, #1472B7);
  background-clip: text;
}

.header-content {
  color: transparent;
  background-image: radial-gradient(#afadad 0%, #ffffff 100%);
  background-clip: text;
}

.header-button {
  margin-top: 2rem;
  padding: 0.5rem;
  color: #33A8DB;
  background: transparent;
  border-image: linear-gradient(#33A8DB, #1472B7) 1;
}

.courses {
  background-color: #000000;
  color: white;
  width: auto;
  height: 25rem;
  border-bottom: 3px solid #33A8DB;
}

.course-container {
  padding-top: 5rem;
  margin: 0 auto;
  width: 40rem;
  height: 20rem;
}

.course-title {
  font-weight: 900;
  text-transform: uppercase;
  color: transparent;
  background-image: linear-gradient(#33A8DB, #1472B7);
  background-clip: text;
  padding-bottom: 1rem;
}

.course-list {
  padding-top: 1rem;
  list-style: none;
}

.course-list-item {
  margin: 0 auto;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #33A8DB;
  background: #252525;
  border-radius: 1rem;
  width: 30rem;
}

.list-item-text {
  color: #33A8DB;
}

.transform-world {
  background-image: url(../images/woman-code.png);
  background-color: #000000;
  width: auto;
  height: 15rem;
  background-position: center -30%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  border-bottom: 3px solid #33A8DB;
}

.transform-world-title {
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  color: #FFF;
  margin-left: 5rem;
  margin-top: 5rem;
  text-shadow: 3px 2px 0px #33A8DB;
}

.professional-challenges {
  background-color: #000000;
  height: 30rem;
  border-bottom: 3px solid #33A8DB;
}

.professional-challenges-container {
  width: 40rem;
  height: 20rem;
  margin: 0 auto;
}

.professional-challenges-title {
  font-weight: 900;
  text-transform: uppercase;
  color: transparent;
  background-image: linear-gradient(#33A8DB, #1472B7);
  background-clip: text;
  padding-bottom: 1rem;
  padding-top: 3rem;
}

.professional-challenges-image {
  width: 20.59375rem;
  height: 13.40625rem;
}

.professional-challenges-content {
  margin-top: 1rem;
  color: transparent;
  background-image: radial-gradient(#afadad 0%, #ffffff 100%);
  background-clip: text;
}

footer {
  background-color: #000000;
}

footer div {
  height: 5rem;
}

footer div img{
  margin-top: 1rem;
  width: 9.6875rem;
  height: 1.375rem;
}

footer div p {
  color: #ffffff;
}

footer div p span {
  color: #33A8DB;
}